

.lookup_section {
	padding: 50px;
	margin: 50px;

}
.hospital_searching_form {
	padding: 50px;
	margin: 50px;


}

.employee_searching_form {
	padding: 50px;
	margin: 50px;

}
.hospital_info_result_table {
	padding: 50px;
	margin: 50px;
}

.hospital_searching_form {
	display: none;
}

.employee_searching_form {
	display: none;
}

.hospital_info_result_table {
	display: none;
}

.employee_info_result_table {
	display: none;
}
.employee_info_result_table {
	padding: 50px;
	margin: 50px;
}
