.sign_section {
	margin: 50px;
	padding: 50px;
}

button {
          margin-top: 65px;
          margin-right: 270px;
          width: 235px;
          height: 65px;
          font-size: 24px;

          font-family: Lucida,Monaco;
          
}

.signature_result {
	display: none;
}
.verify_section {
	margin: 50px;
	padding: 50px;
}
.signverify_section {
	margin: 50px;
	padding: 50px;
}

.sign_section {
	display: none;
}

.verify_section {
	display: none;
}